[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX.git
[submodule "themes/personal-web"]
   	path = themes/personal-web
    	url = https://github.com/bjacquemet/personal-web.git